html {
	font-family: 'Inter var', sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
	background-color: #3b3d57;
	color: #f6f0e5;
}

body {
        width: 1000px;
        max-width: 100%;
	margin: auto;
	display: flex;
}

body center ul {
	text-align: left;
	padding-left: 100px;
}

a:hover {
        color: #7aa2f7;
        background: #545c7e;
}

li:before {
        text-align: right;
}

.sidebar-holder {
	display: inline-block;
	font: .9em Arial, sans-serif;
	padding: 1em;
}

.sidebar {
	background: #3e5380;
	width: 250px;
	border-radius: .3em;
	font-size: large;
	font-weight: 500;
	margin-right: 50px;
}
.sidebar p, .sidebar h1 {
	margin: .1em;
	padding: 0em .4em;
	text-align: center;
}

.sidebar nav ul li {
	padding: .6em 1em;
}

.topnav ul {
	list-style: none;
	padding: 0;
}

.topnav ul li {
	border-top: .1em solid #7aa2f7;
	padding: .2em .4em;
}

@media only screen and (max-width: 768px), (orientation: portrait) {
	body {
		display: initial;
	}
	.sidebar {
		width: 100%;
		text-align: center;
	}
	.topnav ul {
		border-top: .1em solid #7aa2f7;
		padding: 1em;
	}
	.topnav ul li {
		border-top: none;
		display: inline;
		line-height: 1.5em;
		padding: 0;
	}
	.topnav ul li:not(:last-child):after {
		content: ' - '
	}
	.avatar {
		border-radius: 100%;
		display: block;
		margin: 0 auto;
		padding: 10px;
		height: 4em;
		width: 4em;
	}
	.sidebar h1,
	.sidebar .subheader {
		display: inline;
		margin: 0;
		padding: 0;
	}
	.sidebar .subheader:before {
		content: '/ '
	}
}

main {
	display: inline-block;
	padding: 1em;
}
main header {
	font-family: Arial, sans-serif;
}
main p {
	hyphens: auto;
	text-align: justify;
	text-indent: 1em;
}
main li {
	margin-bottom: 0.2em;
}
main li > p:first-child {
	margin-top: 0;
	text-indent: 0;
}
blockquote {
	border-left: .2em solid grey;
	margin: 1em 0;
	padding-left: 2em;
}
dt {
	font-weight: bold;
}
kbd {
	border-width: 0 .1em;
	padding: 0 .5em;
	margin: 0 .5em;
	border-style: solid;
}
summary {
	cursor: pointer;
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
table ol,
table ul {
	padding-left: 1em;
}
.pre-wrap {
	white-space: pre-wrap;
}

a {
        color: #73daca;
}

a:visited {
        color: #1abc9c;
}

code {
	white-space: pre-wrap;
}

pre {
        background: #545c7e;
        padding: 1em;
	white-space: pre-wrap;
	overflow-wrap: break-word ;
	max-width: 600px ;
	margin: auto ;
}

.nohl {
	font-family: monospace;
}

.y {
	color: yellow;
	font-weight: bold;
}

* {
	tab-size: 8 !important;
	-moz-tab-size: 8 !important;
}
